@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

.title {
  color: rgb(152, 187, 199);
  display: inline;
  padding: 10px 15px;
  font-family: Pixelify Sans;
}

.btn {
  background-color: lightblue;
  color: white;
  margin-left: 5px;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
}
